@model IEnumerable<WebApplication1.Models.BangSanPham>

@{
    ViewBag.Title = "Index";
}

<h2>Bảng sản phẩm</h2>

<p>

    @Html.ActionLink("Tạo sản phẩm mới", "Create")
</p>
<table class="table table-bordered table-condensed table-hover table-responsive table-striped" id="DanhSachSanPham">
    <thead>
        <tr>
            <th>
                Mã sản phẩm
            </th>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Loại sản phẩm
            </th>
            <th>
                Giá bán
            </th>
            <th>
                Giá gốc
            </th>
            <th>
                Giá trả góp
            </th>
            <th>
                Số lượng tồn kho
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Tùy chọn
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.MaSP
                </td>
                <td>
                    @item.TenSP
                </td>

                <td>
                    @item.LoaiSanPham.TenLoai
                </td>
                <td>
                    @item.GiaBan.ToString("#,##")
                </td>
                <td>
                    @item.GiaGoc.ToString("#,##")
                </td>
                <td>
                    @item.GiaGop.ToString("#,##")
                </td>
                <td>
                    @item.SoLuongTon.ToString("#,##")
                </td>
                <td>
                    <img src="@Url.Action("Details", new {id = item.id })" width = "50"  Height = "70">
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.id })">
                        <sp>
                            <span class="btn btn-success glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href="@Url.Action("Details", new {id = item.id })">
                        <span class="btn btn-primary glyphicon glyphicon-info-sign"></span>
                    </a>
                    <a href="@Url.Action("Delete", new {id = item.id })">
                        <span class="btn btn-danger glyphicon glyphicon-trash"></span>
                    </a>
                    @*@Html.ActionLink("Sửa", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Chi tiết", "Details", new { id = item.id }) |
                        @Html.ActionLink("Xóa", "Delete", new { id = item.id })*@
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
            
    <script>

        $(document).ready(function () {
            $('#DanhSachSanPham').DataTable();
            
        });
    </script>
}